<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <provider
                android:name=".CoCoFileProvider"
                android:authorities="${applicationId}.coco.provider"
                android:exported="false"
                android:grantUriPermissions="true">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/coco_provider_path"/>
        </provider>
    </application>
</manifest>
